{% extends 'recipes/base.html' %}
{% block title %}Обратная связь{% endblock title %}
{% block content %}
<body>
    <h1>Свяжитесь с нами</h1>
    {% if form.errors %}
<!--        не работает этот кусок-->
        <p style="color: red;">
            Исправьте следующие ошибки {{ form.errors|pluralize }}
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Отправить">
    </form>
</body>
{% endblock content %}