{% extends 'recipes/base.html' %}
{% block title %}{{ dish.name }}{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

    <h2>{{ dish.name }}</h2>
    <p>{{ dish.introduction }}</p>
    {% if dish.image %}
        <div class="dish_image">
            <img src="{{ MEDIA_URL }}{{ dish.image.url }}" style="height:500px; " >
        </div>
    {% endif %}
    <p>Рецепт!</p>
    <hr>
    <p>{{ dish.recipe }}</p>
    <p>{{ dish.likes }}</p>
    {% if user.is_authenticated %}

        {% if dish not in user.liked_dish.all %}
        <form action="{% url 'recipes:like_dish' dish.id %}">
             <button name="add" class="btn btn-info"><i class="bi bi-send-plus"></i>Лайк</button>
        </form>
        {% else %}
        <form action="{% url 'recipes:delete_like' dish.id %}">
            <button name="add" class="btn btn-info"><i class="bi bi-send-plus"></i>Больше не нравится</button>
        </form>
        {% endif %}

        <form action="{% url 'recipes:dish' dish.id %}" method="post" class="form">
            {% csrf_token %}
            {{ form_comment|crispy }}
             <button name="add" class="btn btn-info"><i class="bi bi-send-plus"></i> Комментировать</button>
        </form>

    {% endif %}

        {% for comment in comments %}

            <div class="comment_text">
                <div class="comment_txt">{{ comment.text }}</div>

                <div class="comment">
                    <p>Пользователь: {{ comment.user }}</p>
                    <p>{{ comment.date_added }}</p>
                    {% if request.user == comment.user %}
                        <p><a href="{% url 'recipes:delete_comment' comment.id %}">Удалить комментарий <i class="bi bi-trash3"></i></a></p>
                    {% endif %}
                    {% if comment.user.image %}
                        <div class="avatar">
                            <img src="{{ MEDIA_URL }}{{ comment.user.image.url }}">
                        </div>
                    {% else %}
                    {% load static %}
                        <span class="avatar">
                            <img src="{% static 'recipes/img/default_user.png' %}">
                        </span>
                    {% endif %}

                </div>
            </div>

        {% empty %}
            <p>Пока никто не комментировал этот рецепт</p>
        {% endfor %}


{% endblock content %}
