{% extends 'recipes/base.html' %}
{% block title %}Категории блюд{% endblock title %}
{% block content %}
<center><h1>Категории блюд</h1></center>
<hr>
        {% for category in dish_categories %}


        <div class="category">
                        {% if category.image %}
                            <img src="{{ MEDIA_URL }}{{ category.image.url }}" class="category_img">
                        {% else %}
                            {% load static %}
                            <img src="{% static 'recipes/img/default_dish.jpg' %}" class="category_img">
                        {% endif %}
                        <a href="{% url 'recipes:category' category.id %}"><h3><i class="bi bi-chevron-compact-right"></i>{{ category.dish_category }}</h3></a>
                        <p>{{ category.intro }}</p>
                        <p><i class="bi bi-book"></i> Рецептов {% for name, numb in recipes_num %}
                               {% if name == category %}
                               {{ numb }}{% endif %} {% endfor %}</p>
        </div>
        <hr>
        {% endfor %}
{% endblock content %}
