{% extends 'recipes/base.html' %}
{% block title %}{{ dish.name }}{% endblock title %}
{% block content %}
<h2>{{ dish.name }}</h2>
<p>{{ dish.introduction }}</p>
<p>Рецепт!</p>
<hr>
<p>{{ dish.recipe }}</p>
<form action="{% url 'recipes:dish' dish.id %}" method="post" class="form">
    {% csrf_token %}
    {{ form_comment.as_p }}
     <button name="add" class="btn btn-primary">Комментировать</button>
</form>
<ul>
    {% for comment in comments %}
    <li>{{ comment.text }}</li>
    {% empty %}
    <li>Пока никто не комментировал этот рецепт</li>
    {% endfor %}
</ul>


{% endblock content %}
