{% extends "recipes/base.html" %}
{% block title %}Сайт с рецептами от сереги{% endblock title %}
{% block content %}

    <div>
        Добро пожаловать на сайт с рецептами! Здесь вы можете посмотреть
        рецепты блюд по категориям, попробовать их приготовить и написать отзыв,
        так же вы можете поделиться своим рецептом на этом сайте со всем
        мировым сообществом!
        Удачи и приятного пользования! Если у вас есть какие-то вопросы или
        предложения по улучшению сайта, пишите мне на электронную почту, контакт
        указан в обратной связи.
    </div>
{% endblock content %}
{% block footer %}
    <hr>
    <h3 align="center">Обратная связь: garborfersru@gmail.com</h3>
{% endblock footer %}
