{% extends "recipes/base.html" %}
{% block title %}Сайт с рецептами от сереги{% endblock title %}
{% block content %}

    <div class="container">
        <div class="shaped"></div>
        <center><h2 style="font-size: 40px;">Добро пожаловать!</h2></center>
        <div style="font-size: 20px;">
            <p>На этом сайте вы можете поделиться своим кулинарным рецептом со всем мировым сообществом интернета!</p>
            <p>Так же вы можете смотреть рецепты добавленные другими пользователями, оценивать их и комментировать. Для оценки и комментариев вам необходимо зарегистрироваться на сайте.
            Каждый рецепт, который вы оценили, добавляется к вам в "избранное" на навигационной панели, и вы можете в любой момент без проблем посмотреть его.</p>
            <p>Рецепты блюд отсортированы по категориям</p>
            <p>Скорее регистрируйтесь и поделитесь своим кулинарным творением!</p>
            <p>Вы можете написать мне письмо(критика, пожелания, предложения и т.д.), на электронную почту, нажав на "обратная связь" внизу этой страницы.</p>
            <p>Так же вы можете написать мне напрямую на электронную почту или посмотреть мой профиль GitHub</p>
            <p>
                <a><i class="bi bi-google"></i> garborfersru@gmail.com</a>
                <a href="https://github.com/GarborSergey" target="_blank"><i class="bi bi-github"></i> GitHub</a>
            </p>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <a href="{% url 'recipes:contact' %}"><i class="bi bi-send"></i> Обратная связь</a>
{% endblock footer %}
