{% extends "recipes/base.html" %}

{% block title %}Поиск по сайту{% endblock title %}

{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <center>
    <form action="" method="get">

        <input type="text" name='q'>
        <button name="submit" class="btn btn-info"> <i class="bi bi-search"></i> Поиск</button>
    </form>
    </center>
{% endblock content %}