{% extends "recipes/base.html" %}
{% block title %}change{% endblock title %}

{% block content %}
{{ user.username }}
{% if user.image %}
    <span class="avatar">
        <img src="{{ MEDIA_URL }}{{ user.image.url }}">
    </span>
{% else %}
    {% load static %}
    <span class="avatar">
        <img src="{% static 'recipes/img/default_user.png' %}">
    </span>
{% endif %}
<form method="post" action="{% url 'users:change_profile' user.id  %}" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
    <button name="submit" class="btn btn-info">Сохранить изменения</button>
    <input type="hidden" name="next" value="{% url 'recipes:home' %}" />

</form>
{% endblock content %}